:root {
  --light-foreground: #232323;
  --light-background: #fefdfa;
  --dark-foreground: #fefdfa;
  --dark-background: #232323;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-background);
    color: var(--dark-foreground);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-background);
    color: var(--light-foreground);
  }
}

body.light {
  --foreground-color: var(--light-foreground);
  --background-color: var(--light-background);
  --title-bar-color: #fefdfa;
  --border-color: #e1e1e1;
}

body.dark {
  --foreground-color: var(--dark-foreground);
  --background-color: var(--dark-background);
  --title-bar-color: #232323;
  --border-color: #444444;
}
